<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{workout?.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-header>
      <ion-card-title> {{workout?.title}}</ion-card-title>
      <ion-card-subtitle>{{workout?.duration}}</ion-card-subtitle>
    </ion-header>

    <ion-card-content>
      <p>{{workout?.description}}</p>

      <ion-list>
        <ion-list-header>Exercises</ion-list-header>
        <ion-item *ngFor="let exercise of workout?.exercises">
          <ion-label>{{exercise}}</ion-label>
        </ion-item>
      </ion-list>
      
      <ion-button expand="block" color="success" (click)="markAsCompleted()" [disabled]="workout?.isCompleted">
        {{workout?.isCompleted ? 'Completed' : 'Mark as Completed'}}
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="backHome()" >Back to Workouts</ion-button>
</ion-content>
