<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Progress
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content *ngIf="completedWorkouts.length ===0">
      <h2>No workouts completed yet :(</h2>
    </ion-card-content>

    <ion-list *ngIf="completedWorkouts.length > 0">
      <ion-list-header>
        <h2>Completed Workouts</h2>
       
      </ion-list-header>
      <ion-item *ngFor="let cw of completedWorkouts">
        <ion-label>
          <h2>{{cw.title}}</h2>
          <p>{{cw.duration}}</p>
        </ion-label>
        <ion-icon name="close-outline" class="icon" (click)="resetWorkoutProgress(cw.id)"/>
      </ion-item>
    </ion-list>
    
    <section class="buttons-wrapper">

      <ion-button 
        fill="outline" 
        (click)="backHome()">Back to Workouts
      </ion-button>

      <ion-button 
        expand="block" 
        color="danger" 
        (click)="resetEntireProgress()"
        [disabled]="completedWorkouts.length === 0">Reset All Workout Progress
      </ion-button>
    </section>
    
  </ion-card>

</ion-content>
