<ion-list>
  <ion-item>
    <ion-input label="Email" labelPlacement="stacked" type="email" name="email" placeholder="Enter email" [(ngModel)]="email" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input label="Password" labelPlacement="stacked" type="password" name="password" placeholder="•••••••••••••" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <div class="button-container">
      <ion-button class="btn btn-dark" (click)="login()">Login</ion-button> 
      <div class="error">{{errorMsg}}</div>
  </div>
  </ion-item>
</ion-list>