<ion-header>
  <ion-toolbar>
    <ion-title>Get Fit App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-title><h2>Welcome</h2></ion-card-title>

  <ion-card>
    <ion-card-subtitle>
      <p>Get Fit puts health and wellness first. Log in or create your account below.</p>
    </ion-card-subtitle>
    <ion-list>
      <ion-item>
        <ion-input label="Email" labelPlacement="stacked" type="email" name="email" placeholder="email@domain.com" [(ngModel)]="email" ></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Password" labelPlacement="stacked" type="password" name="password" placeholder="•••••••••••••" [(ngModel)]="password"></ion-input>
      </ion-item>
   
        <section class="button-wrapper">
          <ion-button expand="block" class="primary" (click)="loginOrSignup()">
            {{ isSignup ? 'Sign Up' : 'Login' }}
          </ion-button>
          <p (click)="toggleMode()">
            {{ isSignup ? 'Already have an account? Log in' : "Don't have an account? Sign up now" }}
          </p>
          <div class="error">{{errorMsg}}</div>
        </section>

    </ion-list>
  </ion-card>

</ion-content>
